<?xml version="1.0" encoding="utf-8"?>
<CodeSnippet Format="1.0.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <Header>
    <Title>generate Frame</Title>
    <Shortcut>s_frame</Shortcut>
    <Author>Saguoran</Author>
  </Header>
  <Snippet>
    <Code Language="XAML">
      <![CDATA[<Frame Padding="0">$selected$$end$</Frame>]]>
    </Code>
  </Snippet>
</CodeSnippet>